header{
    background-color: rgb(182, 179, 179);
    height: 200px;
    width: 100%;
    padding: 10px;
}
.container{
    display: flex;
}
nav{
    background-color:aqua);
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 50px;
}
p{
    font-size: 18px;
}

.btn btn-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
